<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text'
                 [(ngModel)]='listFilter' />
        </div>
      </div>
      <div class='row'
           *ngIf='listFilter'>
        <div class='col-md-6'>
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='projects.length'>
          <thead>
            <tr>
              <!-- <th>
                <button class='btn btn-primary'
                        (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
              </th> -->
              <th>Project</th>
              <th>Difficulty</th>
              <th>Category</th>
              <th>Priority</th>
              <th>Completed</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let project of filteredProjects'>
              <!-- <td>
                <img *ngIf='showImage'
                     [src]='project.imageUrl'
                     [title]='project.projectName'
                     [style.width.px]='imageWidth'
                     [style.margin.px]='imageMargin'>
              </td> -->
              <td>
                <a [routerLink]="['/projects', project.projectId]">
                  {{ project.projectName }}
                </a>
              </td>
              <td>{{ project.difficulty }}</td>
              <td>{{ project.category }}</td>
              <td>{{ project.priority }}</td>
              <!-- can i make the completed checkbox appear on the main list? -->
              <td>{{ project.completed }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>