<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/homework-logo-smaller.png"
             class="img-responsive center-block"
             style="max-height:300px;border-radius:5px;" />
      </div>

      <div class="text-center" style="padding-top:50px;">Developed by:</div>
      <div class="text-center">
        <h3>Kyle Bini</h3>
      </div>

      <!-- <div class="text-center">@deborahkurata</div>
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div> -->
    </div>
  </div>
</div>